/* Table of Contents

    -Global
    -Typography
    -Common Properties
    -Header / Footer
    -Main Content
        -Current Video
        -Video Results List
        -Page Breaks
*/

/* Global Settings */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Typography */
.main-header,
.main-content,
.main-footer,
.search-form__input,
.search-form__btn {
    font-family: "Lucida Grande";
    text-align: center;
}

/* Common Properties */
.search-form__btn,
.results-list__item,
.nav-toggle,
.results-list-container {
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
}

/* Header & Footer */
.main-header,
.main-footer {
    background: #002b49;
}

    .main-header__heading,
    .search-form__btn,
    .main-footer__content,
    .main-footer__link {
        color: #fff;
    }

.main-header {
    padding: 10px;
}

    .main-header__heading {
        margin: 0;
        padding: 10px 0;
    }

    .search-form__input,
    .search-form__btn {
        padding: 2px;
        width: 50%;
        min-width: 200px;
        max-width: 300px;
        display: block;
        margin: 5px auto;
        font-size: 1.5em;
    }

    .search-form__btn {
        background: #333;
        border: 1px solid;
    }

        .search-form__btn:hover {
            color: #333;
            background: #fff;
            border: 1px solid;
            cursor: pointer;
        }

.main-footer {
    height: 50px;
    font-size:1.5em;
}

    .main-footer__content {
        margin: 0;
    }

.main-content {
    min-height: calc(100vh - 250px);
    max-width: 960px;
    margin: 20px auto;
    position: relative;
}

.nav-toggle {
    display: none;
}

/* Columns */
.current-video-container,
.results-list-container {
    display: inline-block;
}

/* Current Video Selection */
.current-video-container {
    padding: 20px;
    width: 370px;
    vertical-align: top;
}

        .current-video__heading {
            margin-top: 0;
        }

        .current-video__small-thumbnail {
            display: none;
        }

/* Results List */
.results-list {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

    .meta-results {
        padding: 5px 0;
    }

        .meta-results__btn {
            display: inline-block;
            padding: 2px;
            font-size: 1.5em;
            margin: 5px;
        }

    .results-list__item {
        padding: 0;
        width: 320px;
        height: 90px;
        background: #002b49;
        color: #f5f5f5;
        border-radius: 5%;
        margin: 5px;
    }

        .results-list__item:hover {
            background: #f5f5f5;
            color: #333;
            cursor: pointer;
        }

        .results-list__item__img,
        .results-list__item__text {
            display: inline-block;
        }

        .results-list__item__img {
            width: 120px;
        }

        .results-list__item__text {
            vertical-align: top;
            width: 200px;
            overflow: hidden;
            margin: 0;
            padding-top:10px;
        }

/* page breaks */
@media screen and (max-width: 740px) {
    .current-video-container {
        width: calc(100% - 210px);
        max-width: 370px;
    }

    .results-list__item {
        width: 200px;
    }
        .results-list__item__img {
            display: none;
        }
}

@media screen and (max-width: 600px) {
    .current-video-container {
        min-width: 250px;
    }

        .current-video__small-thumbnail {
            display: inline;
        }

        .current-video__medium-thumbnail {
            display: none;
        }
}

@media screen and (max-width: 490px) {
    .current-video-container,
    .results-list-container {
        display: block;
    }

    .current-video-container {
        width: 100%;
        min-width: auto;
        margin: auto;
        padding-top: 50px;
    }

    .nav-toggle {
        position: absolute;
        right: 10px;
        font-size: 3.5em;
        display: inline-block;
        line-height: 0.5;
    }

        .nav-toggle--active {
            -webkit-transform: translateX(-220px);
            transform: translateX(-220px);
        }

    .results-list-container {
        z-index: 1;
        position: fixed;
        top: 0;
        right: 0;
        -webkit-transform: translateX(220px);
        transform: translateX(220px);
        background: #fff;
        border-radius: 5%;
        max-height: 100vh;
        overflow: scroll;
    }

        .results-list-container--active {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }

        .results-list__item {
            height: auto;
        }

            .results-list__item__text {
                padding: 15px 0;
            }

}
